/* mobile */

.mainIndex{
    padding: 2rem;
    a{
        font-weight: 600;
        letter-spacing: 0.05rem;
        text-align: center;
        text-decoration: none;
        border-radius: 0.5rem;
        border: 1px $verde solid;
        background-color: $verde;
        color: $blanco;
        margin: 1rem;
        padding: 0.5rem;
        font-size: 1rem;
        @include letraSecundaria;
        &:hover{
            color: $verde;
            background-color: $blanco;
        }
    }
}

.sectionCriterioFaltas{
    border: 2px solid $verde;
    margin: 0.5rem;
    padding: 0.5rem;
    @include letraPrincipal;
    font-size: 1rem;
    p{
        margin: 0;
        padding: 0.5rem;
    }
    .divFormS{
        padding-bottom: 0.5rem;
        .divForm{
            @include flex;
            flex-direction: row;
            @include letraPrincipal;
            label{
                margin: 0;
                padding: 0.5rem;
            }
        }
        .divFormTexto{
            input{
                border: none;
                border-bottom: 1px solid $verde;
                @include cero;
            }
        }
        .formBoton{
            @include centrado;
            margin-top: 1rem;
            border: 1px $verde solid;
            border-radius: 2rem;
            background-color: $verde;
            color: $blanco;
            font-size: 1.5rem;
            width: 2.5rem;
            @include letraPrincipal;
            &:hover{
                color: $verde;
                background-color: $blanco;
            }
        }
    }   
}

.sectionForm{
    border: 2px solid $verde;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    @include letraPrincipal;
    h2{
        font-size: 1.5rem;
        @include cero;
        color: $azul;
        text-align: center;
        font-weight: 700;
        border-bottom: 2px solid $azul;
        padding: 0.5rem;
    }
    .formGral{
    font-size: 1rem;
    padding-bottom: 1rem;
        .formFlex{
            padding: 0.5rem 0;
            h3{
                font-size: 1.3rem;
                @include cero;
                color: $verde;
                padding: 0.5rem;
                text-align: center;
                font-weight: 600;
                border-bottom: 1px solid $verde;
            }
            .divForm{
                @include cero;
                padding: 0.5rem 0;
                display: grid;
                grid-template-columns: 2fr 4fr;
                grid-template-rows: auto;
                grid-template-areas: 
                    "label input";
                label{
                    @include cero;
                    grid-area: label;
                    border-right: 1px solid $verde;
                    margin-right: 0.5rem;
                    border-left: 1px solid $verde;
                    padding-left: 0.5rem;
                }
                input{
                    @include cero;
                    grid-area: input;
                }
            }
            .divFormPP{
                @include cero;
                border-bottom: 1px solid $verde;
                display: grid;
                grid-template-columns: 2fr 4fr;
                grid-template-rows: auto;
                grid-template-areas: 
                    "p p";
                p{
                    @include cero;
                    padding: 0.5rem;
                    text-align: center;
                }
            }
            .divFormObservaciones{
                margin: 0;
                padding-top: 0.5rem;
                border-top: 1px solid $verde;
                display: grid;
                grid-template-columns: 2fr 4fr;
                grid-template-rows: auto;
                grid-template-areas: 
                    "label input";
                label{
                    @include cero;
                    padding-left: 0.5rem;
                    grid-area: label;
                }
                input{
                    @include cero;
                    grid-area: input;
                }
            }
            .divFormPDiv{
                @include cero;
                display: grid;  
                grid-template-columns: 2fr 4fr;
                grid-template-rows: auto;
                grid-template-areas: 
                    "p div";
                p{
                    @include cero;
                    grid-area: p;
                    border-right: 1px solid $verde;
                    margin-right: 0.5rem;
                    border-left: 1px solid $verde;
                    padding-left: 0.5rem;
                }
                div{
                    @include cero;
                    grid-area: div;
                }
                .divFormInterno{
                    @include cero;
                    @include flex;
                    justify-content: space-evenly;
                    label{
                        @include cero;
                        margin: 0 0.5rem;
                        width: 20%;
                        font-size: 0.8rem;
                    }
                    input{
                        @include cero;
                        margin: 0 0.5rem;
                        width: 30%;
                    }
                }
            }   
            .divFormLabelDiv{
                display: grid;
                grid-template-columns: 2fr 4fr;
                grid-template-rows: auto;
                grid-template-areas: 
                    "label div";
                label{   
                    border-right: 1px solid $verde;
                    margin-right: 0.5rem;
                    border-left: 1px solid $verde;
                    padding-left: 0.5rem;
                }    
                .divFormInterno{
                    @include cero;
                    @include flex;
                    justify-content: space-evenly;
                    label{
                        @include cero;
                        margin: 0 0.5rem;
                        width: 10%;
                        text-align: center;
                        font-size: 0.8rem;
                        border: none;
                    }
                    input{
                        @include cero;
                        margin: 0 0.5rem;
                        width: 45%;
                    }
                }
            }
            .formBoton{
                @include centrado;
                margin-top: 1rem;
                border: 1px $verde solid;
                border-radius: 2rem;
                background-color: $verde;
                color: $blanco;
                font-size: 1.5rem;
                width: 2.5rem;
                @include letraPrincipal;
                &:hover{
                    color: $verde;
                    background-color: $blanco;
                }
            }
        }
    }
    .formCuadro{
        .formFlex{
            .divFormContenedor{
                @include flex;
                justify-content: space-around;
            }
        }
    }
}